:root {
    --white: #fff;
    --black: #000;
    --gray: #eee;
    --primary-font-color: #13131b;
    --secondary-font-color: #F60000;
}

html::-webkit-scrollbar-track, .cool-scroll::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.2);border-radius:10px;
    background-color:#F5F5F500
}
  
  html::-webkit-scrollbar,.cool-scroll::-webkit-scrollbar{
    background-color:#F5F5F5F5;
    height:10px;
    width:10px
}

html::-webkit-scrollbar-thumb,.cool-scroll::-webkit-scrollbar-thumb{
    background-color:#CCC;
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.2)
}

.body{
    /* font-family: 'Changa', sans-serif; */
    font-size: 14px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: var(--primary-font-color);
    background-color: rgba(240, 208, 197, 0.15);
    height: 100vh;
}

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--secondary-font-color);
}


.section-margin {
    -webkit-box-shadow:0px 1px 1px var(--gray);
    -moz-box-shadow:0px 1px 1px var(--gray);
    box-shadow:0px 1px 1px var(--gray);
}

.font-color-secondary {
    color: var(--secondary-font-color);
    /* font-weight: bold; */
}

.header-container .logo{
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}

.header-container .logo .brackets{
    color: #F60000;
}

.header-container .links a{
    margin-bottom: 0;
}


.hero-container .content img {
    width: 20px;
    margin-right: 3px;
}

.hero-container .image .profile-image {
    /* transform: scale(1.45); */
    width: 350px;
    /* height: 400px; */
    /* border-radius: 50%; */
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media (max-width: 960px) {
    .desktop-only {
      display: none !important;
    }
    .mobile-only {
      display: block !important;
    }
}


@media(max-width:576px){
    
    .hero-container .image {
        justify-content: center !important;
    }

    .hero-container .image .profile-image{
      margin-top: 2rem;
      width: 324px;
    }
}
  

/* 
.hero-wrapper{
    background: url(../../public/icons/backgound-pattern.png), linear-gradient(158deg, #2596be 0%, #92cbdf 38%, #92cbdf 100%);
    height: 360px;
    width: 100%;
    color: var(--white);
}

.hero-wrapper div{
    height: 100% !important;
}

.hero-wrapper h1{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
} */
